@model IEnumerable<PatronesDeSeguridad.Models.tblMatriculaEstudiante>

@{
    ViewData["Title"] = "Matriculas";
}
<h2 class="text-center text-light">@ViewData["Title"]</h2>
<div class="row mt-3">
    <div class="col-md-12 text-right">
        @if (User.IsInRole("Administrador") || User.IsInRole("Profesor"))
        {
            <a asp-action="ImprimirTodaslasMatriculas" asp-controller="tblMatriculaEstudiantes" class="btn btn-light btn-lg">
                <i class="fas fa-file-pdf"></i> Reporte General
            </a>
        }
        @if (User.IsInRole("Administrador"))
        {
            <a asp-action="Create" class="btn btn-success btn-lg">
                <i class="bi bi-book-fill"></i> Nueva Matricula
            </a>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="offset-12">
        <div>
            <div class="card-header estilos">
                <h4 class="text-white"><strong>Lista de Matriculas</strong></h4>
            </div>
            <div class="card-body cuerpoTabla">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered" id="buscadorJS" width="100%" cellpadding="0">
                            <thead class="text-white">
                                <tr>
                                    <th class="text-center">
                                        Estudiante
                                    </th>
                                    <th class="text-center">
                                        Identificador Asignación
                                    </th>
                                    <th class="text-center">
                                        Nombre del Curso
                                    </th>
                                    <th class="text-center">
                                        Nivel del Curso
                                    </th>
                                    <th class="text-center">
                                        Nombre de la Materia
                                    </th>
                                    <th class="text-center">
                                        Descripción de la Materia
                                    </th>
                                    <th class="text-center">
                                        Profesor
                                    </th>
                                    <th class="text-center">
                                        Fecha Matricula
                                    </th>
                                    <th class="text-center">
                                        Estado Matricula
                                    </th>
                                    <th class="text-center">
                                        Fecha Calificación
                                    </th>
                                    <th class="text-center">
                                        Calificación
                                    </th>
                                    @if (User.IsInRole("Administrador") || User.IsInRole("Profesor"))
                                    {
                                        <th class="text-center">Gestión</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Estudiante.FirstName)
                                            @Html.DisplayFor(modelItem => item.Estudiante.LastName1)
                                            @Html.DisplayFor(modelItem => item.Estudiante.LastName2)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Asignacion.identificadorAsignacion)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Asignacion.Curso.nombreCurso)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Asignacion.Curso.Level.nombreNivel)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Asignacion.Materia.nombreMateria)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Asignacion.Materia.descripcionMateria)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Asignacion.Profesor.FirstName)
                                            @Html.DisplayFor(modelItem => item.Asignacion.Profesor.LastName1)
                                            @Html.DisplayFor(modelItem => item.Asignacion.Profesor.LastName2)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.FechaMatricula)
                                        </td>
                                        <td class="text-center">
                                            @if (item.EstadoMatricula)
                                            {
                                                <span class="badge badge-success">Activo</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Inactivo</span>
                                            }
                                        </td>

                                        <td class="text-center">
                                            <!-- Para FechaCalificacion -->
                                            @if (item.FechaCalificacion == DateTime.MinValue)
                                            {
                                                <span class="badge badge-primary">Sin Fecha</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.FechaCalificacion)
                                            }
                                        </td>}
                                        @if (User.IsInRole("Administrador") || User.IsInRole("Profesor"))
                                        {
                                            <td class="text-center">
                                                <!-- Para Calificacion -->
                                                @if (item.Calificacion == 0)
                                                {
                                                    <span class="badge badge-primary">Sin Calificar</span>
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.Calificacion)
                                                }
                                            </td>
                                        }

                                        @if (User.IsInRole("Estudiante"))
                                        {
                                            <td class="text-center">
                                                <!-- Para Calificacion -->
                                                @if (item.Calificacion == 0)
                                                {
                                                    <span class="badge badge-primary">Sin Calificar</span>
                                                }
                                                else
                                                {

                                                    <a class="btn btn-outline-primary" asp-action="validarEstudiante" asp-route-id="@item.idMatriculaEstudiante"><i class="bi bi-star-fill mx-2"></i> Ver</a>
                                                }
                                            </td>
                                        }
                                        @if (User.IsInRole("Administrador") || User.IsInRole("Profesor"))
                                        {
                                            <td class="text-center">

                                                <!-- ... -->
                                                @*                                            <button onclick="showPartial(this)" class="btn btn-success open-modal" data-url="/tblMatriculaEstudiantes/_agregarCalificacion" data-id="@item.idMatriculaEstudiante"><i class="bi bi-star-fill mx-2"></i>Calificar</button>
                                    *@
                                                <!-- ... -->
                                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.idMatriculaEstudiante"><i class="bi bi-star-fill mx-2"></i> Calificar</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="modal fade" id="MyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary">
                                        <button type="button" class="btn-close btn-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modalContentContainer">
                                            <!-- Aquí se cargará el contenido de las vistas parciales -->
                                        </div>
                                    </div>
                                    @*<div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>*@
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-danger">No hay registros</p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .dataTables_wrapper .dataTables_info {
        color: white;
    }

    .estilos {
        background-color: #297373;
    }

    .cuerpoTabla {
        background-color: #253237;
    }

    .dataTables_length select {
        background-color: #297373;
        color: white;
    }

    .dataTables_length label {
        color: white;
    }

    .dataTables_filter input[type="search"] {
        background-color: #CAD8DE;
        color: black;
    }

    .dataTables_filter label {
        color: white;
    }
</style>

@section Scripts{
    <script>
        //Obtenemos la dirrecion del controlador que realizar la accion y el Id del modelo a tratar
        function showPartial(triggerElement) {
            var url = $(triggerElement).data("url");
            var id = $(triggerElement).data("id");

            // Concatenar el ID en la URL
            url += "?id=" + id;
            //realizamos una peticion get al controlador indicado en la ruta que se obtuvo del triggerElement
            //function (data) En jQuery, las funciones de callback son funciones que se pasan como argumentos a métodos
            // se ejecutan en ciertos eventos o cuando se completa una acción específica.
            $.get(url, function (data) {
                //La respuesta del peticon get es codigo html una vista
                $("#modalContentContainer").html(data);

                $("#MyModal").modal("show");//Mostramos el modal
            });
        }
    </script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#buscadorJS').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}