@model PatronesDeSeguridad.Models.tblProfesor

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Your Application Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-pzjw5f+ua8m+6zR5OTw8G1LvHz4l5vH" crossorigin="anonymous">
    <style>
        .content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .details-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            max-width: 500px;
            width: 100%;
        }

        .details-list {
            margin-bottom: 20px;
        }

        .details-label {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <div class="details-container">
            <h1>Detalles</h1>

            <div class="details-list">
                <h4>Profesor</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6 details-label">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-6 details-label">
                        @Html.DisplayNameFor(model => model.LastName1)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.LastName1)
                    </dd>
                    <dt class="col-sm-6 details-label">
                        @Html.DisplayNameFor(model => model.LastName2)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.LastName2)
                    </dd>
                    <dt class="col-sm-6 details-label">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-6 details-label">
                        @Html.DisplayNameFor(model => model.Token)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Token)
                    </dd>
                    <dt class="col-sm-6 details-label">
                        @Html.DisplayNameFor(model => model.EstadoProfesor)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.EstadoProfesor)
                    </dd>
                </dl>
            </div>

            <div>
                <a asp-action="Edit" asp-route-id="@Model?.IdentificationNumber" class="btn btn-success">Editar</a> |
                <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
            </div>
        </div>
    </div>
</body>
</html>
