@model PatronesDeSeguridad.Models.tblMateriaCursoUsuario

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .content-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        }

        .delete-container {
            background-color: #fff; /* Fondo blanco para el cuadro de borrado */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            max-width: 500px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="content-wrapper">
        <div class="delete-container">
            <h1>Activar</h1>
            <h3>Seguro que quieres activar?</h3>
            <div>
                <h4>Asignaciones</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.identificadorAsignacion)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.identificadorAsignacion)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Curso)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Curso.nombreCurso)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Materia)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Materia.descripcionMateria)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Profesor)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Profesor.IdentificationNumber)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.EstadoAsignacion)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.EstadoAsignacion)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="idMateriaCursoUsuario" />
                    <input type="submit" value="Activar" class="btn btn-danger" /> |
                    <a asp-action="Inactivos" class="btn btn-primary">Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
